local.properties

.gradle
build/
*.iml
.idea/*.xml
.idea/.name
.idea/caches/
.idea/copyright/
.idea/libraries/
.idea/scopes/
.idea/shelf/
.idea/inspectionProfiles/*
.idea/dictionaries/*
!.idea/runConfigurations/*
!.idea/codeStyles/*
!.idea/codeStyleSettings.xml

.DS_Store
/captures

libraries/volley_work/
manifest-merger-*-report.txt

translation-storage

vendor
.bundle

.kotlin/